nav{
    background-color: white;
    z-index: 10;
}
#nasa{
  color: rgb(233, 78, 52);
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.icon{
    height: 30px;
    margin: 0 10px 0 0;
}