@media only screen and (min-width: 320px) and (max-width: 480px) {
  .background {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: rgb(242, 232, 212);
    height: auto;
    z-index: 0;
  }
  .moon-ship-box,
  .earth-box,
  .text-box {
    /* border: solid 2px white; */
  }

  .moon-box {
    padding: 10px;
    width: fit-content;
    z-index: 3;
  }
  .moon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: rgb(248, 246, 239);
    margin: 30px 0 0 10px;
  }

  .ship-box {
    /* border: solid 2px black; */
    margin: -50px 0 0 80px;
    z-index: 4;
    width: fit-content;
  }
  .ship {
    height: 30px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
  }

  .earth-box {
    display: flex;
    justify-content: flex-end;
    /* overflow: hidden; */
    margin-top: -100px;
  }
  .earth {
    width: fit-content;
    z-index: 1;
    height: 300px;
    width: 155px;
    border-radius: 200px 0 0 200px;
    background-color: rgba(36, 138, 133, 0.781);
  }

  .text-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    margin: -140px 0 3rem 0;
    padding: 10px 30px 10px 10px;
    color: black;
    z-index: 5;
  }

  .nasa-tagline {
    padding-left: 1rem;
  }
  .follow-button {
    background-color: rgba(157, 29, 0, 0.87);
    color: white;
    margin-left: 1rem;
    border: none;
   
  }
  .follow-button:hover {
    /* background-color: rgb(50, 103, 201); */
    color: white;
  }
}
