@media only screen and (min-width: 320px) and (max-width: 480px) {
  .background {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: black;
    height: auto;
    color: white;
    z-index: auto;
  }
  .moon-ship-box {
    border: solid 2px white;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    z-index: 2;
  }
  .moon {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
  }

  .ship-box {
    border: solid 2px black;
    position: absolute;
    top: 160px;
    left: 100px;
    z-index: 3;
  }
  .ship {
    height: 30px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(255, 217, 0);
  }

  .earth-box {
    border: solid 2px white;
    position: absolute;
    top: 150px;
    right: 0px;
    z-index: 1;
  }
  .earth {
    height: 300px;
    width: 155px;
    border-radius: 200px 0 0 200px;
    background-color: blue;
  }

  .text-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    margin: 10px;
    padding: 10px;
    border: solid 2px white;
    z-index: 4;
  }

  .follow-button {
    background-color: rgb(20, 63, 140);
    color: white;
  }
  .follow-button:hover {
    background-color: rgb(50, 103, 201);
    color: white;
  }
}
