@media only screen and (min-width: 320px) and (max-width: 480px) {
  .box {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    border: white solid 2px;
    background-color: rgba(83, 80, 80, 0.507);
    color: whitesmoke;
  }

  .title {
    font-size: 1.1rem;
  }

  .published {
    font-size: 0.7rem;
    color: rgb(218, 209, 209);
  }

  .description {
    font-size: 0.9rem;
  }

  .source {
    font-size: 0.8rem;
    color: rgb(214, 212, 212);
  }
  .news-img {
    width: 100%;
  }
  .link {
    color: inherit;
  }
  .link:visited{
      color: inherit;
  }
}
