.APOD {
    padding: 0.5rem;
}

.apod-descrip {
    padding: 1rem 1rem 0.5rem 1rem;
}

.apod-img {
    width: 100%;
   
}
.apod-gallery{
 background-color: rgb(20, 63, 140);
 color: white;
 margin: 0 1rem 1rem;

}