@media only screen and (min-width: 320px) and (max-width: 480px) {
    .APOD {
    padding: 1rem;
    z-index: 100;
    position: relative;
    margin-top: -90px;
    color: whitesmoke;
    text-align: start;
}
.des-box{
    margin: 0 0 1rem;
}
.apod-descrip {
    padding: 1rem 1rem 0.5rem 1rem;
    font-weight: 400;
    color: rgb(48, 47, 47);
   
}
#apod-title{
    text-align: start;
}
.read-more{
  background-color: rgb(245, 241, 241);
  border: none;
}


.apod-img {
    width: 100%;
    margin-bottom: 1rem;
    border: 2px solid rgba(245, 245, 245, 0.808);
    
  
   
}
.apod-gallery{
 background-color: rgb(20, 63, 140);
 color: whitesmoke;
 margin: 0 0 0 1rem;
 border: none;
 /* margin: 0 1rem 1rem; */
}

}