.launch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  color: black;
  border: 2px white solid;

}

.launches-info {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  font-size: 0.5rem;
  margin: 1rem;
  border: 2px white solid;

}
