@media only screen and (min-width: 320px) and (max-width: 480px) {
  .launch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  color: rgb(48, 47, 47);
  /* border: 2px white solid; */

}

.launches-info {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  font-size: 0.5rem;
  margin: 1rem;
  border: 2px white solid;
  background-color: rgba(231, 229, 229, 0.212);
  padding: 0.5rem;
color: whitesmoke;

}

.launch-title{
  font-size: 1.1rem;
  
}

.launch-start{
  font-size: 0.7rem;
}
.launch-provider{
  font-size: 0.7rem;
}
.launch-description{
  font-size: 0.9rem;
}
.launch-location{
  font-size: 0.7rem;
}
}