@media only screen and (min-width: 320px) and (max-width: 480px) {
  .rocket-container {
  
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    height: 600px;
    position: relative;
    z-index: 400;
    margin: 1rem 1rem 3rem 0;
    color: whitesmoke;
    border: rgba(245, 245, 245, 0.541) 2px solid;
       
    padding-bottom: 2rem;
  }

  #upcoming-launches {
   
    margin-top: 3rem;
    text-align: start;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    margin: 1rem 0;
    /* border: white 2px solid; */
  }
  .rocket-img {
    width: 100%;
    border: 2px solid rgba(245, 245, 245, 0.808);
  }




}
